div#wpbody-content .mlwp-wrap {  }
div#wpbody-content .mlwp-wrap .col { float: left; display: inline; box-sizing: border-box; padding-bottom: 5px; }
div#wpbody-content .mlwp-wrap .col2 { width: 50%; padding-right: 4%; }
div#wpbody-content .mlwp-wrap .col3 { width: 33%; padding-right: 3%; }
div#wpbody-content .mlwp-wrap .col4 { width: 25%; padding-right: 2%; }
div#wpbody-content .mlwp-wrap .col5 { width: 20%; padding-right: 1%; }
div#wpbody-content .mlwp-wrap .col6 { width: 16%; padding-right: 1%; }

div#wpbody-content #mlwp_flag_select { display: none; width: 600px; position: absolute; z-index: 100; }
div#wpbody-content #mlwp_flag_select .button-primary { display: block; text-align: center; padding: 3px 5px 7px; height: 30px; }
div#wpbody-content #mlwp_flag_select .inside { height: 200px; overflow-y: auto; margin: 0px; padding: 10px; }
div#wpbody-content #mlwp_flag_select img { margin-bottom: -7px; padding: 0 2px; }
div#wpbody-content #mlwp_flag_select div.col { padding-bottom: 15px; }
div#wpbody-content #mlwp_flag_select label { display: block; background: #CCCCCC; padding: 3px 5px 6px 5px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
div#wpbody-content #mlwp_flag_select label.selected { background: #c3eaf7; }

textarea.regular-text { width: 25em; }

.cl { display: block; float: none; clear: both; height: 0; }

div.mlwp-box { border-width: 2px; margin: 5px 0 15px; background-color: #FFFFE0; border-color: #E6DB55; border-style: solid; padding: 0 .6em; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
div.mlwp-box p { margin: .5em 0; padding: 2px; }
div.mlwp-box.mlwp-notice { background-color: #E0F1FF; border-color: #8497DF; }
div.mlwp-box.mlwp-success { background-color: #96F1B3; border-color: #48BB51; }
div.mlwp-box.mlwp-error { background-color: #FFCACA; border-color: #F33636; font-weight: bold; }