# Auto detect text files and perform LF normalization
* text=auto

# Custom values for the project
*.php   eol=lf
*.js    eol=lf
*.css   eol=lf
*.txt   eol=lf
*.mo    -text
*.png    -text
*.gif    -text

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain